<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
    
    

    <link rel="stylesheet" href="styles/main.css?ver=1">

    

</head>

<body>

    <div class="overflow-hidden">

       @@include("../blocks/modules/header/header.html")


        <main class="main">

            <section class="section-page1">

                <div class="container">

                    <div class="page1-intel">



                        <div class="page1-intel__body" style="align-items: flex-start;">
                            <div class="page1-intel__item">
                                <h1 class="page1__title">
                                    Leadership Team
                                </h1>

                                <img class="leader_mob_img" src="img/svg/leaderteam.svg" alt="">


                                <div class="page1_leader">
                                    <h2 class="page1_leader__h2">
                                        Management board
                                    </h2>

                                    <div class="page1_leader__body">
                                        <div class="page1_leader__item page1_leader__item_img">

                                        </div>
                                        <div class="page1_leader__item">
                                            <span>CEO</span> <br>
                                            <span>Herve Ferrer</span>
                                            <p class="page1_leader__p">
                                                After top carrier in HSBC, benign nominated to a president of HSBC
                                                Europe, he decided to join the dynamic and vibrant team in Highfi Group
                                                and dedicate himself to speed up the growth of the company applying all
                                                his competencies, that
                                                he has developed since 20 years of an executive in largest world
                                                companies. 40 years banking industry, financing specialist.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="page1-intel__item page1-intel__item_mob-hidden">
                                <img src="img/svg/leaderteam.svg" alt="">
                            </div>
                        </div>

                    </div>

                </div>

            </section>




            <section class="section-team">
                <div class="container">
                    <div class="team">
                        <div class="team__item">
                            <div class="team__img">

                            </div>
                            <span class="team__position">CTO </span>
                            <span> Luc Surname</span>
                        </div>
                        <div class="team__item">
                            <div class="team__img">

                            </div>
                            <span class="team__position">Head of sales </span>
                            <span> Yassine Ayat</span>
                        </div>
                        <div class="team__item">
                            <div class="team__img">

                            </div>
                            <span class="team__position">Head of research  </span>
                            <span> Jerome Verny </span>
                        </div>
                        <div class="team__item">
                            <div class="team__img">

                            </div>
                            <span class="team__position">Business development  </span>
                            <span> Karina Mikolajenko</span>
                        </div>
                    </div>
                </div>
            </section>


            <section class="section-team">
                <div class="container">
                    <div class="team-board">
                        <div class="team__item">
                            <h3 class="team__h3">
                                Supervisory <br>
                                Board
                            </h3>
                        </div>
                        <div class="team__item">
                            <div class="team__img">

                            </div>
                            <span class="team__position">Supervisory Board  </span>
                            <span> Sami Boumaza</span>
                        </div>
                        <div class="team__item">
                            <div class="team__img">

                            </div>
                            <span class="team__position">Supervisory Board  </span>
                            <span> Zora Surname</span>
                        </div>
                    </div>
                </div>
            </section>


        </main>
        @@include("../blocks/modules/footer/footer.html")



   </div>
<script src="js/main.js?ver=1"></script>
    <script src="js/vendor.js"></script>

</body>

</html>


