<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
    
    

    <link rel="stylesheet" href="styles/main.css?ver=1">

    

</head>

<body>

    <div class="overflow-hidden">

       @@include("../blocks/modules/header/header.html")


        <main class="main">

            <section class="section-page1">

                <div class="container">
                    <div class="content-container">
                        <h1 class="page1__title">
                            Data engineering
                        </h1>
                        <div class="page1">
                            <div class="page1__text">
                                <div class="page1__item text-content">
                                    <div class="text-content__upper text">
                                        Our data engineers aim to find trends in data sets and develop algorithms to
                                        help
                                        make raw data more useful to the enterprise. This requires a significant set of
                                        technical skills, including a deep knowledge of
                                        SQL database design and multiple programming languages.
                                    </div>
                                    <div class="text-content__upper text">
                                        Our goal is to allow for a business to improve the way they manages its
                                        resources
                                        such as capital, people, and information systems to achieve its business goals
                                        applying latest and rapidly growing
                                        technologies.
                                    </div>

                                </div>
                                <div class="page1__item">
                                    <div class="page1__item text-content middle-content">
                                        <div class="text-content__middle text">
                                            <div class="text-upper">This also involves an architectural approach for
                                                planning, analyzing, designing,
                                                and implementing applications.</div>
                                            <div class="text-down">Data engineering is crucial in integrated of advanced
                                                set
                                                of tasks and
                                                techniques that enhance business communication throughout an enterprise
                                                enabling
                                                it to develop people, procedures and systems to
                                                be global.</div>

                                        </div>
                                        <div class="text-content__image">
                                            <img class="text-content__image_image" src="img/svg/data.svg" alt="scheme">
                                        </div>
                                    </div>



                                </div>
                            </div>



                            <section class="section-title-and-lists">
                                <div class="container">
                                    <div class="title-and-lists title-and-lists_3-items title-and-lists_4-items">
                                        <div class="title-and-lists__item">
                                            <h3 class="title-and-lists__title">
                                                Technical description
                                            </h3>
                                        </div>
                                        <div class="title-and-lists__item">
                                            <ul class="list-with-sublist">
                                                <li>
                                                    <h4 class="list-with-sublist__h4">
                                                        <span class="big-dot"></span>
                                                        <span>
                                                            Machine Learning:
                                                        </span>
                                                    </h4>
                                                    <ul class="list-with-sublist__sublist">
                                                        <li>
                                                            <span class="little-dot"></span>
                                                            <span>
                                                                Sickit Learn
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span class="little-dot"></span>
                                                            <span>
                                                                Pandas
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span class="little-dot"></span>
                                                            <span>
                                                                Numpy
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span class="little-dot"></span>
                                                            <span>
                                                                Scipy
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span class="little-dot"></span>
                                                            <span>
                                                                Spark MLLIB / ML
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span class="little-dot"></span>
                                                            <span>
                                                                Implementation of linear / logistic regression
                                                                algorithms
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span class="little-dot"></span>
                                                            <span>
                                                                Сlustering and collaborative filtering
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="title-and-lists__item">
                                            <ul class="list-with-sublist">
                                                <li>
                                                    <h4 class="list-with-sublist__h4">
                                                        <span class="big-dot"></span>
                                                        <span>
                                                            Deep Learning Applications with Tensorflow / keras
                                                        </span>
                                                    </h4>

                                                </li>
                                            </ul>
                                        </div>

                                        <div class="title-and-lists__item">
                                            <ul class="list-with-sublist">
                                                <li>
                                                    <h4 class="list-with-sublist__h4">
                                                        <span class="big-dot"></span>
                                                        <span>
                                                            Development of Machine Learning pipelines in Python / Scala or in Databricks notebook
                                                        </span>
                                                    </h4>

                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>





            <div class="container">
                <div class="btn-back-container">
                    <a class="btn btn_main btn_2" href="/page-expertise.html">
                        Return Expertise
                    </a>
                </div>
            </div>

        </main>
        @@include("../blocks/modules/footer/footer.html")



   </div>
<script src="js/main.js?ver=1"></script>
    <script src="js/vendor.js"></script>

</body>

</html>

