<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
    
    

    <link rel="stylesheet" href="styles/main.css?ver=1">

    

</head>

<body>

    <div class="overflow-hidden">

       @@include("../blocks/modules/header/header.html")


        <main class="main">

            <section class="section-page1">

                <div class="container">

                    <div class="page1-intel page1-intel_exp">



                        <div class="page1-intel__body page1-intel__body_exp">
                            <div class="page1-intel__item">
                                <h1 class="page1__title">
                                    HighNorma Expertise
                                </h1>
                                <p>
                                    Our data engineers aim to find trends in data sets and develop algorithms to help
                                    make raw data more useful to the enterprise. This requires a significant set of
                                    technical skills, including a deep knowledge of
                                    SQL database design and multiple programming languages.

                                </p>
                            </div>
                            <div class="page1-intel__item wow animate__slow animate__animated animate__backInRight">
                                <img class="page1-exp__img page1__img" src="img/svg/page-exp.svg" alt="">
                            </div>
                        </div>

                    </div>

                </div>

            </section>





            <section id="expertise" class="section-expertise section-expertise_page-exp">
                <div class="container">
                    <div class="expertise">
                        <h2 class="expertise__title main-h2 wow animate__animated animate__fadeIn animate__delay-05s">
                            Technical description:
                        </h2>

                        <div>

                            <div class="expertise-mob wow animate__animated animate__fadeInUp">
                                <!-- Slider main container -->
<div class="swiper-container-expertise">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper expertise__row">


        <a class="expertise__item swiper-slide" href="/page-data.html">
            Data
        </a>
        <a class="expertise__item swiper-slide" href="/page-devops.html">
            Devops & <br>
            Support
        </a>
        <a class="expertise__item swiper-slide" href="/page-software.html">
            Software <br>
            Development
        </a>
        <a class="expertise__item swiper-slide" href="/page-analysis.html">
            Business <br>
            Analysis
        </a>
        <a class="expertise__item swiper-slide" href="/infrastructure-architecture.html">
            Infrastructure <br>
            &
            Architecture

        </a>
        <a class="expertise__item swiper-slide" href="/page-cybersecurity.html">
            Cybersecurity
        </a>

    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>



</div>

                            </div>

                            <div class="wow animate__animated animate__fadeInUp animate__delay-05s expertise-pc">
                                <div class="expertise__row">
                                    <a class="expertise__item"
                                        href="/page-data.html">
                                        Data
                                    </a>
                                    <a class="expertise__item"
                                        href="/page-devops.html">
                                        Devops & <br>
                                        support
                                    </a>
                                    <a class="expertise__item"
                                        href="/page-software.html">
                                        Software <br>
                                        development
                                    </a>
                                    <a class="expertise__item"
                                        href="/page-analysis.html">
                                        Business <br>
                                        analysis
                                    </a>
                                    <a class="expertise__item"
                                        href="/infrastructure-architecture.html">
                                        Infrastructure <br>
                                        &
                                        Architecture

                                    </a>
                                    <a class="expertise__item"
                                        href="/page-cybersecurity.html">
                                        Cybersecurity
                                    </a>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </section>







        </main>
        @@include("../blocks/modules/footer/footer.html")



   </div>
<script src="js/main.js?ver=1"></script>
    <script src="js/vendor.js"></script>

</body>

</html>


