<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
    
    

    <link rel="stylesheet" href="styles/main.css?ver=1">

    

</head>

<body>

    <div class="overflow-hidden">

       @@include("../blocks/modules/header/header.html")


        <main class="main">

            <section class="section-page1">

                <div class="container">

                    <div class="page1-group">



                        <div class="page1-group__body">
                            <div class="page1-group__item">
                                <h1 class="page1__title">
                                    Normasys
                                </h1>

                                <p class="main-p">
                                    NormaSys is an IT consulting and engineering company with strong expertise in
                                    banking and
                                    insurance.
                                </p>


                                <p class="p-with-border">
                                    <span>
                                        Our mission: To participate in the evolution of the information system of our
                                        customers.
                                    </span>
                                </p>

                            </div>
                            <div class="page1-group__item">
                                <img class="wow animate__animated animate__backInRight animate__slow"
                                    src="img/svg/page-highfi/norm-logo.svg" alt="">
                            </div>
                        </div>

                    </div>

                </div>

            </section>





            <section class="section-icons-text">
                <div class="container">
                    <div class="icons-text3 icons-text3_2 icons-text3_1120 icons-text3_icnos-left">
                        <div class="icons-text3__item">
                            <div>
                                <img src="img/svg/page-highfi/i1.svg" alt="">
                            </div>
                            <p>
                                NormaSys SA is an expert in advice, assistance in project management and project
                                management (conventional technologies, new technologies and software solutions).

                            </p>
                        </div>
                        <div class="icons-text3__item">
                            <div>
                                <img src="img/svg/page-highfi/i2.svg" alt="">
                            </div>
                            <p>
                                With 130 employees and almost 20 years of existence in the market, we have varied
                                profiles
                                capable of intervening from technical to functional professions.
                            </p>
                        </div>
                    </div>
                </div>
            </section>





            <section class="section-provide-advice">
                <div class="container">
                    <div class="provide-advice">
                        <div class="provide-advice__body">
                            <div class="provide-advice__item">
                                <p>
                                    We provide advice, specifications, studies, development, acceptance and deployment
                                    of
                                    management IT applications, according to different modes and over the entire life
                                    cycle of
                                    information systems:
                                </p>
                            </div>

                            <div class="provide-advice__item">
                                <div class="provide-advice-icons">
                                    <div class="provide-advice-icons__item">
                                        <div class="provide-advice-icons__point">
                                            <div>
                                                <img src="img/svg/page-highfi/i3.svg" alt="">
                                            </div>
                                            <span>expertise</span>
                                        </div>
                                        <div class="provide-advice-icons__point">
                                            <div>
                                                <img src="img/svg/page-highfi/i4.svg" alt="">
                                            </div>
                                            <span>technical and / or functional assistance</span>
                                        </div>
                                        <div class="provide-advice-icons__point">
                                            <div>
                                                <img src="img/svg/page-highfi/i5.svg" alt="">
                                            </div>
                                            <span>third-party application maintenance</span>
                                        </div>
                                    </div>

                                    <div class="provide-advice-icons__item">
                                        <div class="provide-advice-icons__point">
                                            <div>
                                                <img src="img/svg/page-highfi/i6.svg" alt="">
                                            </div>
                                            <span>delegation of personnel</span>
                                        </div>
                                        <div class="provide-advice-icons__point">
                                            <div>
                                                <img src="img/svg/page-highfi/i7.svg" alt="">
                                            </div>
                                            <span>certification</span>
                                        </div>
                                        <div class="provide-advice-icons__point">
                                            <div>
                                                <img src="img/svg/page-highfi/i8.svg" alt="">
                                            </div>
                                            <span>package</span>
                                        </div>
                                        <div class="provide-advice-icons__point">
                                            <div>
                                                <img src="img/svg/page-highfi/i9.svg" alt="">
                                            </div>
                                            <span>acceptance</span>
                                        </div>
                                        <div class="provide-advice-icons__point">
                                            <div>
                                                <img src="img/svg/page-highfi/i10.svg" alt="">
                                            </div>
                                            <span>service center</span>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>




            <section class="section-ns-support">
                <div class="container">
                    <div class="ns-support">
                        <div class="ns-support__item">
                            <img src="img/svg/page-highfi/2.svg" alt="">
                        </div>
                        <div class="ns-support__item">
                            <p>
                                NormaSys supports its customers in the development and constant renewal of their
                                profession
                                thanks to a global offer of integration of new information and communication
                                technologies.
                            </p>
                            <p>
                                Normasys business consultants mainly work in banking and insurance.
                            </p>
                            <p>
                                In the IT context, the responsibility of project management is most often entrusted to a
                                business department and that of project management to the information systems
                                department.
                            </p>
                            <p>
                                Normasys offers a wide range of business services for its customers.
                            </p>
                        </div>
                    </div>
                </div>
            </section>




            <section class="section-tech-title-icons">
                <div class="container">
                    <div class="tech-title-icons">
                        <div class="tech-title-icons__row">
                            <div class="tech-title-icons__item">
                                <h3 class="tech-title-icons__h3">
                                    <img src="img/svg/page-highfi/i11.svg" alt="">
                                    <span>
                                        TECHNOLOGIES
                                    </span>
                                </h3>
                                <p class="tech-title-icons__p">
                                    We are on permanent technological watch in our JAVA and .NET centers of
                                    expertise
                                </p>
                            </div>

                            <div class="tech-title-icons__item">
                                <h3 class="tech-title-icons__h3">
                                    <img src="img/svg/page-highfi/i12.svg" alt="">
                                    <span>
                                        INNOVATION
                                    </span>
                                </h3>
                                <p class="tech-title-icons__p">
                                    NormaSys is involed in research and development on
                                    several subjects including cyber-security and the control of regulatory and
                                    proprietary flows
                                </p>
                            </div>
                        </div>

                        <div class="tech-title-icons__row">
                            <div class="tech-title-icons__item">
                                <h3 class="tech-title-icons__h3">
                                    <img src="img/svg/page-highfi/i13.svg" alt="">
                                    <span>
                                        PROXIMITY
                                    </span>
                                </h3>
                                <p class="tech-title-icons__p">
                                    Our services are carried out mainly in Ile-de-France, this allows us to be
                                    responsive to the needs of project management, project management and
                                    infrastructure
                                </p>
                            </div>

                            <div class="tech-title-icons__item">
                                <h3 class="tech-title-icons__h3">
                                    <img src="img/svg/page-highfi/i14.svg" alt="">
                                    <span>
                                        PERSONALIZED TRACKING
                                    </span>
                                </h3>
                                <p class="tech-title-icons__p">
                                    We participate in the development of the skills of our employees by allowing
                                    them to integrate innovative projects in line with their ambitions
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>


        @@include("../blocks/modules/footer/footer.html")



   </div>
<script src="js/main.js?ver=1"></script>
    <script src="js/vendor.js"></script>

</body>

</html>


