<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
    
    

    <link rel="stylesheet" href="styles/main.css?ver=1">

    

</head>

<body>

    <div class="overflow-hidden">

       @@include("../blocks/modules/header/header.html")


        <main class="main">

            <section class="section-page1">

                <div class="container">

                    <div class="page1-intel">

                        <div class="page1-intel__body">
                            <div class="page1-intel__item">
                                <h1 class="page1__title">
                                    Business analysis
                                </h1>
                                <p>
                                    Business Analysis is a conduction of market analyses, analysing both product lines
                                    and the overall profitability of the business. In addition, we develop and monitor
                                    data quality
                                    metrics and ensure business data and reporting needs are met. Strong technology,
                                    analytical and communication skills are must-have traits.
                                </p>
                                <div class="double-btn-container">
                                    <div class="page1__btn">
                                        <a class="btn btn_main" href="/page-corporate-analysis.html">
                                            For corporate
                                        </a>
                                    </div>
                                    <div class="page1__btn">
                                        <a class="btn btn_main" href="/page-insurance-analysis.html">
                                            For insurance
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="page1-intel__item">
                                <img src="img/svg/page-analysis.svg" alt="">
                            </div>
                        </div>

                    </div>

                </div>

            </section>



            <section class="section-analysis-lists">
                <div class="container">
                    <div class="analysis-lists">
                        <div class="analysis-lists__body">
                            <div class="analysis-lists__item">
                                <ul class="list-with-sublist">
                                    <li>
                                        <h4 class="list-with-sublist__h4">
                                            <span class="big-dot"></span>
                                            <span>
                                                Creating a detailed business analysis, outlining problems, opportunities
                                                and solutions for a business
                                            </span>
                                        </h4>
                                    </li>
                                    <li>
                                        <h4 class="list-with-sublist__h4">
                                            <span class="big-dot"></span>
                                            <span>
                                                Budgeting and forecasting
                                            </span>
                                        </h4>
                                    </li>
                                </ul>
                            </div>

                            <div class="analysis-lists__item">
                                <ul class="list-with-sublist">
                                    <li>
                                        <h4 class="list-with-sublist__h4">
                                            <span class="big-dot"></span>
                                            <span>
                                                Planning and monitoring

                                            </span>
                                        </h4>
                                    </li>
                                    <li>
                                        <h4 class="list-with-sublist__h4">
                                            <span class="big-dot"></span>
                                            <span>
                                                Financial modelling

                                            </span>
                                        </h4>
                                    </li>
                                    <li>
                                        <h4 class="list-with-sublist__h4">
                                            <span class="big-dot"></span>
                                            <span>
                                                Variance Analysis
                                            </span>
                                        </h4>
                                    </li>
                                </ul>
                            </div>

                            <div class="analysis-lists__item">
                                <ul class="list-with-sublist">
                                    <li>
                                        <h4 class="list-with-sublist__h4">
                                            <span class="big-dot"></span>
                                            <span>
                                                Pricing
                                            </span>
                                        </h4>

                                    </li>
                                    <li>
                                        <h4 class="list-with-sublist__h4">
                                            <span class="big-dot"></span>
                                            <span>
                                                Reporting
                                            </span>
                                        </h4>

                                    </li>
                                    <li>
                                        <h4 class="list-with-sublist__h4">
                                            <span class="big-dot"></span>
                                            <span>
                                                Defining business requirements and reporting them back to stakeholders
                                            </span>
                                        </h4>

                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </section>



            <section class="section-double-text">
                <div class="container">
                    <div class="double-text">
                        <div class="double-text__item">
                            <p>
                                To performing financial and operational modelling, we develop new models that underpin
                                sound business decisions, streamlining and improving of internal and external reporting,
                                strong understanding of regulatory and reporting requirements, forecasting, budgeting
                                and financial analysis combined with understanding of key performance indicators.
                            </p>
                        </div>
                        <div class="double-text__item">
                            <p>
                                The end goal is to provide financial insights that help the decision-making process, and
                                align capital and resource allocation within the business budget.
                            </p>
                        </div>
                    </div>
                </div>
            </section>




        </main>
        @@include("../blocks/modules/footer/footer.html")



   </div>
<script src="js/main.js?ver=1"></script>
    <script src="js/vendor.js"></script>

</body>

</html>


