<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
    
    

    <link rel="stylesheet" href="styles/main.css?ver=1">

    

</head>

<body>

    <div class="overflow-hidden">

       @@include("../blocks/modules/header/header.html")


        <main class="main">

            <section class="section-page1">

                <div class="container">
                    <div class="page1 page1_data">
                        <div class="page1__row">
                            <div
                                class="page1__item page1__item_text wow animate__animated animate__fadeIn animate__delay-2s">
                                <h1 class="page1__title">
                                    Flagman Solutions
                                </h1>
                                <div class="page1__btn" style="visibility: hidden;">
                                    <a class="btn btn_main btn_1" href="#intelligence">
                                        business intelligence
                                    </a>
                                </div>
                             
                                
                            </div>
                            <div class="page1__item   wow animate__animated animate__backInLeft animate__slow">

                                <img class="page1__img" src="img/svg/flagmanSolutions/1.svg" alt="">

                            </div>
                        </div>
                    </div>
                </div>

            </section>



            <section id="intelligence" class="section-blockchain">

                <div class="aboutUs__bg2">

                    <svg class="parallax2" width="1258" height="1536" viewBox="0 0 1258 1536" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path class="sota1     "
                            d="M850.689 356.657L888.211 288.751L850.689 221.145H775.646L738.124 288.751L775.646 356.657H850.689Z"
                            fill="#2A365C" />
                        <path class="     animation__delay-1s" opacity="0.5"
                            d="M605.068 356.657L642.59 288.751L605.068 221.145H529.736L492.214 288.751L529.736 356.657H605.068Z"
                            fill="#2A365C" />
                        <path class="sota2"
                            d="M482.111 282.741L519.633 215.136L482.111 147.53H407.068L369.546 215.136L407.068 282.741H482.111Z"
                            fill="#2A365C" />
                        <path class="     animation__delay-2s" opacity="0.5"
                            d="M236.201 430.272L273.722 362.666L236.201 294.76H161.157L123.636 362.666L161.157 430.272H236.201Z"
                            fill="#2A365C" />
                        <path class="     animation__delay-3s" opacity="0.5"
                            d="M973.644 577.803L1011.17 509.897L973.644 442.291H898.601L861.079 509.897L898.601 577.803H973.644Z"
                            fill="#2A365C" />
                        <path class="sota3"
                            d="M850.689 651.418L888.211 583.813L850.689 515.907H775.646L738.124 583.813L775.646 651.418H850.689Z"
                            fill="#2A365C" />
                        <path class="     animation__delay-1s" opacity="0.5"
                            d="M727.734 577.803L765.544 509.897L727.734 442.291H652.691L615.169 509.897L652.691 577.803H727.734Z"
                            fill="#2A365C" />
                        <path opacity="0.5"
                            d="M482.111 577.803L519.633 509.897L482.111 442.291H407.068L369.546 509.897L407.068 577.803H482.111Z"
                            fill="#2A365C" />
                        <path class="sota4"
                            d="M1219.56 725.033L1257.08 657.427L1219.56 589.821H1144.51L1106.7 657.427L1144.51 725.033H1219.56Z"
                            fill="#2A365C" />
                        <path class="    " opacity="0.5"
                            d="M605.068 798.648L642.59 731.042L605.068 663.436H529.736L492.214 731.042L529.736 798.648H605.068Z"
                            fill="#2A365C" />
                        <path class="sota5"
                            d="M359.157 798.648L396.678 731.042L359.157 663.436H284.113L246.592 731.042L284.113 798.648H359.157Z"
                            fill="#2A365C" />
                        <path class="     animation__delay-1s" opacity="0.5"
                            d="M973.644 872.563L1011.17 804.657L973.644 737.051H898.601L861.079 804.657L898.601 872.563H973.644Z"
                            fill="#2A365C" />
                        <path class="sota6"
                            d="M850.689 946.178L888.211 878.572L850.689 810.666H775.646L738.124 878.572L775.646 946.178H850.689Z"
                            fill="#2A365C" />
                        <path class="     animation__delay-2s" opacity="0.5"
                            d="M727.734 872.563L765.544 804.657L727.734 737.051H652.691L615.169 804.657L652.691 872.563H727.734Z"
                            fill="#2A365C" />
                        <path class="sota7"
                            d="M850.689 1093.71L888.211 1025.8L850.689 958.198H775.646L738.124 1025.8L775.646 1093.71H850.689Z"
                            fill="#2A365C" />
                        <path class="     animation__delay-3s" opacity="0.5"
                            d="M605.068 1093.71L642.59 1025.8L605.068 958.198H529.736L492.214 1025.8L529.736 1093.71H605.068Z"
                            fill="#2A365C" />
                        <path opacity="0.5"
                            d="M482.111 1019.79L519.633 952.188L482.111 884.583H407.068L369.546 952.188L407.068 1019.79H482.111Z"
                            fill="#2A365C" />
                        <path class="sota8"
                            d="M1096.6 1240.94L1134.12 1173.33L1096.6 1105.73H1021.56L984.036 1173.33L1021.56 1240.94H1096.6Z"
                            fill="#2A365C" />
                        <path class="     animation__delay-1s" opacity="0.5"
                            d="M1219.56 1314.85L1257.08 1246.95L1219.56 1179.34H1144.51L1106.7 1246.95L1144.51 1314.85H1219.56Z"
                            fill="#2A365C" />
                        <path class="sota16" opacity="0.5"
                            d="M973.644 1314.85L1011.17 1246.95L973.644 1179.34H898.601L861.079 1246.95L898.601 1314.85H973.644Z"
                            fill="#2A365C" />
                        <path opacity="0.5"
                            d="M1096.6 1536L1134.12 1468.09L1096.6 1400.49H1021.56L984.036 1468.09L1021.56 1536H1096.6Z"
                            fill="#2A365C" />
                        <path class="sota9"
                            d="M359.157 209.127L396.678 141.521L359.157 73.615H284.113L246.592 141.521L284.113 209.127H359.157Z"
                            fill="#2A365C" />
                        <path class="sota19"
                            d="M605.068 503.888L642.59 436.282L605.068 368.676H529.736L492.214 436.282L529.736 503.888H605.068Z"
                            fill="#2A365C" />
                        <path class="sota17"
                            d="M850.689 798.648L888.211 731.042L850.689 663.436H775.646L738.124 731.042L775.646 798.648H850.689Z"
                            fill="#2A365C" />
                        <path opacity="0.5"
                            d="M482.111 725.033L519.633 657.427L482.111 589.821H407.068L369.546 657.427L407.068 725.033H482.111Z"
                            fill="#2A365C" />
                        <path class="sota10"
                            d="M727.734 1314.85L765.544 1246.95L727.734 1179.34H652.691L615.169 1246.95L652.691 1314.85H727.734Z"
                            fill="#2A365C" />
                        <path class="    " opacity="0.5"
                            d="M973.644 1462.08L1011.17 1394.48L973.644 1326.87H898.601L861.079 1394.48L898.601 1462.08H973.644Z"
                            fill="#2A365C" />
                        <path class="sota18"
                            d="M482.112 135.512L519.634 67.6056L482.112 0H407.069L369.547 67.6056L407.069 135.512H482.112Z"
                            fill="#2A365C" />
                        <path class="sota11"
                            d="M236.202 282.741L273.723 215.136L236.202 147.53H161.159L123.637 215.136L161.159 282.741H236.202Z"
                            fill="#2A365C" />
                        <path opacity="0.6"
                            d="M113.246 356.657L150.768 288.751L113.246 221.145H38.2032L0.68158 288.751L38.2032 356.657H113.246Z"
                            fill="#2A365C" />
                        <path class="    " opacity="0.6"
                            d="M850.69 503.888L888.211 436.282L850.69 368.676H775.646L738.125 436.282L775.646 503.888H850.69Z"
                            fill="#2A365C" />
                        <path class="sota12"
                            d="M605.068 651.418L642.59 583.813L605.068 515.907H529.736L492.214 583.813L529.736 651.418H605.068Z"
                            fill="#2A365C" />
                        <path class="    " opacity="0.6"
                            d="M973.646 725.033L1011.17 657.427L973.646 589.821H898.603L861.081 657.427L898.603 725.033H973.646Z"
                            fill="#2A365C" />
                        <path opacity="0.6"
                            d="M236.202 725.033L273.723 657.427L236.202 589.821H161.159L123.637 657.427L161.159 725.033H236.202Z"
                            fill="#2A365C" />
                        <path class="sota13"
                            d="M605.068 946.178L642.59 878.572L605.068 810.666H529.736L492.214 878.572L529.736 946.178H605.068Z"
                            fill="#2A365C" />
                        <path class="sota20"
                            d="M973.646 1019.79L1011.17 952.188L973.646 884.583H898.603L861.081 952.188L898.603 1019.79H973.646Z"
                            fill="#2A365C" />
                        <path opacity="0.6"
                            d="M850.69 1240.94L888.211 1173.33L850.69 1105.73H775.646L738.125 1173.33L775.646 1240.94H850.69Z"
                            fill="#2A365C" />
                        <path class="sota14"
                            d="M727.734 1462.08L765.544 1394.48L727.734 1326.87H652.691L615.169 1394.48L652.691 1462.08H727.734Z"
                            fill="#2A365C" />
                        <path class="    " opacity="0.6"
                            d="M359.157 356.657L396.678 288.751L359.157 221.145H284.113L246.592 288.751L284.113 356.657H359.157Z"
                            fill="#2A365C" />
                        <path class="sota15"
                            d="M1096.6 1388.47L1134.12 1320.86L1096.6 1252.96H1021.56L984.036 1320.86L1021.56 1388.47H1096.6Z"
                            fill="#2A365C" />
                    </svg>


                </div>
                <div class="container">
                    <div class="blockchain">
                        <h2 class="blockchain__title">
                            Blockchain economic value proof of <br>
                            economic value
                        </h2>

                        <img class="blockchain__img" src="img/svg/flagmanSolutions/2.svg" alt="">

                        <img class="blockchain__img" src="img/svg/flagmanSolutions/3.svg" alt="">
                    </div>
                </div>
            </section>




            <section class="section-to-contact">
                <div class="container">
                    <div class="to-contact">
                        <div class="to-contact__item">
                        </div>
                        <div class="to-contact__item">
                            <h2 class="to-contact__title">
                                To contact for all complex projects requests
                            </h2>
                           
                            <div class="" style="margin-top: 30px;">
                                <a class="btn btn_main btn_2" href="#">
                                    to contact
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>




            <section id="data-managment"  class="section-data-managment">
                <div class="container">
                    <div class="data-managment">
                        <h2 class="data-managment__title">
                            Data management <br>
                            for large corporations
                        </h2>
                        <div class="data-managment__body">
                            <div class="data-managment__item">
                                <p>
                                    We are using innovative AI, ML & deep
                                    learning methodology for large enterprises,
                                    global data standardization, classification,
                                    adaptation, and management. We will find
                                    identical solution for your corporation data
                                    management with your in-house development
                                    managed by our “turn-key” realization.
                                </p>
                            </div>
                            <div class="data-managment__item">
                                <p>
                                    You
                                    will forget your heaviest problems of
                                    developing complex in-house solutions &
                                    technologies by trusting our competitive
                                    teams to enter your business and take care of
                                    your data problems, from classified to all
                                    types of non-classified and unstructured
                                    data. We will reorganize it and rebuild it in
                                    unique house platform, absolutely adoptable
                                    for your employment usability and trustability
                                    of the company’s policy
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="container">
                <img class="blockchain__img" src="img/svg/flagmanSolutions/5.svg" alt="">
            </div>


            <section id="it" class="section-solutions-excel">
                <div class="container">
                    <h2 class="data-managment__title">
                        Blockchain research & <br>
                         Development
                    </h2>

                    <img class="blockchain__img" src="img/svg/flagmanSolutions/6.svg" alt="">

                    <img class="blockchain__img" src="img/svg/flagmanSolutions/7.svg" alt="">
                </div>
            </section>


            <section class="section-solutions-excel">
                <div class="container">
                    <h2 class="data-managment__title">
                        Supply chain research 
                        &  <br> Development
                    </h2>

                    <img class="blockchain__img" src="img/svg/flagmanSolutions/8.svg" alt="">

                    <img class="blockchain__img blockchain__img_mt80" src="img/svg/flagmanSolutions/9.svg" alt="">
                </div>
            </section>

        </main>
        @@include("../blocks/modules/footer/footer.html")



   </div>
<script src="js/main.js?ver=1"></script>
    <script src="js/vendor.js"></script>

</body>

</html>


