<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
    
    

    <link rel="stylesheet" href="styles/main.css?ver=1">

    

</head>

<body>

    <div class="overflow-hidden">

       @@include("../blocks/modules/header/header.html")


        <main class="main">

            <section class="section-page1 section-page1_anal-corp">

                <div class="container">
                    <h1 class="page1__title page1__title_corp-anal">
                        Business analysis
                        for corporate
                        & investment banking
                    </h1>
                </div>

            </section>


            <section class="section-title-and-lists section-title-and-lists_big">
                <div class="container">
                    <div class="title-and-lists title-and-lists_3-items">

                        <div class="title-and-lists__item">
                            <ul class="list-with-sublist">
                                <li>
                                    <h4 class="list-with-sublist__h4">
                                        <span class="big-dot"></span>
                                        <span>
                                            Fo software packages
                                        </span>
                                    </h4>
                                    <ul class="list-with-sublist__sublist">
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                Simcorp
                                            </span>
                                        </li>
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                Murex
                                            </span>
                                        </li>
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                Calypso
                                            </span>
                                        </li>
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                Summit
                                            </span>
                                        </li>
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                Sophis
                                            </span>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="title-and-lists__item">
                            <ul class="list-with-sublist">
                                <li>
                                    <h4 class="list-with-sublist__h4">
                                        <span class="big-dot"></span>
                                        <span>
                                            Expertise of e-trading platforms
                                        </span>
                                    </h4>
                                    <ul class="list-with-sublist__sublist">
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                Advice on PLCs / Order placement
                                            </span>
                                        </li>
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                Market Access / Contribution
                                            </span>
                                        </li>
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                Market data
                                            </span>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="title-and-lists__item">

                        </div>
                    </div>
                </div>
            </section>

            <section class="section-title-and-lists section-title-and-lists_big">
                <div class="container">
                    <div class="title-and-lists title-and-lists_3-items">

                        <div class="title-and-lists__item">
                            <ul class="list-with-sublist">
                                <li>
                                    <h4 class="list-with-sublist__h4">
                                        <span class="big-dot"></span>
                                        <span>
                                            TREP
                                        </span>
                                    </h4>
                                    <ul class="list-with-sublist__sublist">
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                Cross asset trading support
                                            </span>
                                        </li>
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                Structured finance, cash management, payments, trade finance
                                            </span>
                                        </li>
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                Financing solution, leasing 
                                            </span>
                                        </li>


                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="title-and-lists__item">
                            <ul class="list-with-sublist">
                                <li>
                                    <h4 class="list-with-sublist__h4">
                                        <span class="big-dot"></span>
                                        <span>
                                            FO / BO
                                        </span>
                                    </h4>
                                    <ul class="list-with-sublist__sublist">
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                IT Quant: integration of pricing,
                                            </span>
                                        </li>
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                Booking, Pnl library
                                            </span>
                                        </li>
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                Market, credit, liquidity risks ...

                                            </span>
                                        </li>
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                Lifecycle, settlement & accounting

                                            </span>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>


                        <div class="title-and-lists__item">
                            <ul class="list-with-sublist">
                                <li>
                                    <h4 class="list-with-sublist__h4">
                                        <span class="big-dot"></span>
                                        <span>
                                            Regulatory
                                        </span>
                                    </h4>

                                    <div class="list-with-sublist__sublist-wrap">
                                        <ul class="list-with-sublist__sublist">
                                            <li>
                                                <span class="little-dot"></span>
                                                <span>
                                                    Frtb
                                                </span>
                                            </li>
                                            <li>
                                                <span class="little-dot"></span>
                                                <span>
                                                    bâle iii
                                                </span>
                                            </li>
                                            <li>
                                                <span class="little-dot"></span>
                                                <span>
                                                    mifid 2
                                                </span>
                                            </li>
    
                                        </ul>
    
                                        <ul class="list-with-sublist__sublist">
                                            <li>
                                                <span class="little-dot"></span>
                                                <span>
                                                    emir
                                                </span>
                                            </li>
                                            <li>
                                                <span class="little-dot"></span>
                                                <span>
                                                    fatca
                                                </span>
                                            </li>
                                            <li>
                                                <span class="little-dot"></span>
                                                <span>
                                                    Cftc/esma 
                                                </span>
                                            </li>
    
                                        </ul>
                                    </div>
                                   
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </section>



            <section class="corp-anal-table">
                <div class="container">
                    <img src="img/svg/corp-anal.svg" alt="">
                </div>
            </section>





            <div class="container">
                <div class="btn-back-container">
                    <a class="btn btn_main btn_2" href="/page-expertise.html">
                        Return Expertise
                    </a>
                </div>
            </div>


        </main>
        @@include("../blocks/modules/footer/footer.html")



   </div>
<script src="js/main.js?ver=1"></script>
    <script src="js/vendor.js"></script>

</body>

</html>


