<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
    
    

    <link rel="stylesheet" href="styles/main.css?ver=1">

    

</head>

<body>

    <div class="overflow-hidden">

       @@include("../blocks/modules/header/header.html")


        <main class="main">

            <section class="section-page1">

                <div class="container">

                    <div class="page1-intel">

                        <div class="page1-intel__body page1-intel__body_cases">
                            <div class="page1-intel__item">
                                <h1 class="page1__title">
                                    Society Generale
                                </h1>

                                <p class="groupma_bold_text groupma_bold_text_deacive">
                                    Up today
                                </p>
                            </div>
                            <div class="page1-intel__item">
                                <img src="img/svg/soc-gen.svg" alt="">
                            </div>
                        </div>

                    </div>

                </div>

            </section>



            <section class="section-icons-text section-icons-text_dot">
                <div class="container">
                    <div class="icons-text3">
                        <div class="icons-text3__item">
                            <div class="big-dot">
                            </div>
                            <p>
                                Management of critical regulatory processes: flush of the legacy chain (1.2 billion
                                sensitivities per day)
                            </p>
                        </div>
                        <div class="icons-text3__item">
                            <div class="big-dot">
                            </div>
                            <p>
                                Implementation of the overlay related to Process Risk Analysis to integrate into the
                                Framework Metric Platform
                            </p>
                        </div>
                        <div class="icons-text3__item">
                            <div class="big-dot">
                            </div>
                            <p>
                                Successful deployment of several metrics in the new architecture
                            </p>
                        </div>
                    </div>
                </div>
            </section>



            <section class="section-icons-text section-icons-text_dot section-icons-text_mt">
                <div class="container">
                    <div class="icons-text3">
                        <div class="icons-text3__item">
                            <div class="big-dot">
                            </div>
                            <p>
                                Creation of post-processing within the Metric Platform Framework for Risk Analysis
                            </p>
                        </div>
                        <div class="icons-text3__item">
                            <div class="big-dot">
                            </div>
                            <p>
                                Training on the architecture and components of the platform and technical solutions for
                                all stakeholders on the platform (50-100 people)
                            </p>
                        </div>
                        <div class="icons-text3__item">
                            <div class="big-dot">
                            </div>
                            <p>
                                Creation of deployment tools, Release process and CD / CI (Jenkins, Sonar, Git)
                            </p>
                        </div>

                    </div>
                </div>
            </section>



            <section class="section-icons-text section-icons-text_dot section-icons-text_mt">
                <div class="container">
                    <div class="icons-text3 icons-text3_2">
                        <div class="icons-text3__item">
                            <div class="big-dot">
                            </div>
                            <p>
                                Technical expertise and performance improvement on the chain and regulatory processes to
                                meet the KPIs and production needs of dependent projects (30% time savings on the new
                                chain, 25% time savings on the integration of flush in the lake)
                            </p>
                        </div>
                        <div class="icons-text3__item-title">

                            <h3>
                                Environment:
                            </h3>
                            <p>
                                Java, SpringBoot, Hadoop, Hbase, Hive, Kafka, Spark, Linux, Scrum, SAFE
                            </p>
                        </div>

                    </div>
                </div>
            </section>






            <section class="section-icons-text section-icons-text_dot section-icons-text_mt">
                <div class="container">
                    <p class="groupma_bold_text groupma_bold_text_deacive">
                        Previously
                    </p>
                    <div class="icons-text3 icons-text3_mt">
                        <div class="icons-text3__item">
                            <div class="big-dot">
                            </div>
                            <p>
                                Migration of the market risk calculation tool to a chain in a Big Data cluster
                            </p>
                        </div>
                        <div class="icons-text3__item">
                            <div class="big-dot">
                            </div>
                            <p>
                                Transformation of the Framework to make it generic (multi-process)
                            </p>
                        </div>
                        <div class="icons-text3__item">
                            <div class="big-dot">
                            </div>
                            <p>
                                Global and technical presentation of the new Framework for new Processes
                            </p>
                        </div>

                    </div>
                </div>
            </section>




            <section class="section-icons-text section-icons-text_dot section-icons-text_last section-icons-text_mt">
                <div class="container">
                    <div class="icons-text3 icons-text3_2">
                        <div class="icons-text3__item">
                            <div class="big-dot">
                            </div>
                            <p>
                                Creation of a chain for calculating sensitivities and limits in the Lake: Spark jobs for
                                the Metric Processor and the versioning of metrics, job to load data into the
                                ActivePivot cube, creation of a Web App between the Lake, the cube and the visualization
                                tools
                            </p>
                        </div>
                        <div class="icons-text3__item-title">

                            <h3>
                                Environment:
                            </h3>
                            <p>
                                Java, SpringBoot, Hadoop, Hbase, Hive, Kafka, Spark, Linux, Scrum, SAFE
                            </p>
                        </div>

                    </div>
                </div>
            </section>


        </main>
        @@include("../blocks/modules/footer/footer.html")



   </div>
<script src="js/main.js?ver=1"></script>
    <script src="js/vendor.js"></script>

</body>

</html>


