<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
    
    

    <link rel="stylesheet" href="styles/main.css?ver=1">

    

</head>

<body>

    <div class="overflow-hidden">

       @@include("../blocks/modules/header/header.html")


        <main class="main">

            <section class="section-page1">

                <div class="container">

                    <div class="page1-intel">
                        <h1 class="page1__title">
                            Cybersecurity
                        </h1>


                        <div class="page1-intel__body">
                            <div class="page1-intel__item">
                                <p>
                                    Identify threats and vulnerabilities in systems and software, then developing and
                                    implementing high-tech solutions to defend against hacking, malware and ransomware,
                                    insider threats and all types of cybercrime. Today large companies require tailored
                                    cyber solutions and highly confidential processing of its development.

                                </p>
                                <p>
                                    Being a provider since 20 years
                                    for largest banks and insurances, we have been proved our trustability and will be
                                    ready to support your company in cybersecurity advancement.
                                </p>
                                <p>
                                    Using our end-to-end services, we can accelerate your cybersecurity growth through
                                    every phase of your cyber transformation — whatever your team’s level of
                                    cybersecurity maturity.

                                </p>
                                <p>
                                    Thanks to our powerful AI teams and proven algorithms we will give you full
                                    visibility over your network’s data flows, automatically detect suspicious behavior,
                                    and efficiently support your
                                    security team in assessing and eliminating cyber threats before damage is done.
                                </p>
                            </div>
                            <div class="page1-intel__item">
                                <img src="img/svg/cybersecure.svg" alt="">
                            </div>
                        </div>

                    </div>

                </div>

            </section>




            <section class="section-double-icons-items">
                <div class="container">
                    <div class="double-icons-items">
                        <div class="double-icons-items__item">
                            <div>
                                <img src="img/svg/lab-comp/2.svg" alt="">
                            </div>
                            <p>
                                Specialized AI will collect, process, analyze, and visualize data, as well as to detect
                                and investigate threats from specific data sources.
                            </p>
                        </div>
                        <div class="double-icons-items__item">
                            <div>
                                <img src="img/svg/aboutUs/2.svg" alt="">
                            </div>
                            <p>
                                Top-level management should consider resources, business drivers, data, controls, and
                                threats as well as human and organizational dynamics.
                            </p>
                        </div>
                    </div>
                </div>
            </section>






            <section class="section-core-areas">
                <div class="container">

                    <div class="core-areas">
                        <h2 class="core-areas__h2">
                            Several of the core areas of cybersecurity we develop:
                        </h2>
                        <div class="core-areas__body">
                            <div class="core-areas__item">
                                <h3 class="core-areas__title">
                                    Network security
                                </h3>
                                <p>
                                    Guards against unauthorized invasion and malevolent insiders. While monitoring
                                    network
                                    security tends to generate incredible amounts of data, many security
                                    professionals are adopting machine learning to assist in sorting through data and
                                    alerting teams of threats in real time.
                                </p>
                            </div>
                            <div class="core-areas__item">
                                <h3 class="core-areas__title">
                                    Application security
                                </h3>
                                <p>
                                    Helps identify, fix, and prevent security risk in any kind of software application,
                                    whether it’s built internally, bought, or downloaded. Incorporating secure coding
                                    practices as well as fuzzing and penetration testing will augment application
                                    security and help mitigate major threats.
                                </p>
                            </div>
                            <div class="core-areas__item">
                                <h3 class="core-areas__title">
                                    Cloud security
                                </h3>
                                <p>
                                    Includes protecting critical information from theft, deletion, and data exposure.
                                    New security tools are being created to help enterprises understand and better
                                    secure their data in the cloud.
                                </p>
                            </div>
                            <div class="core-areas__item">
                                <h3 class="core-areas__title">
                                    Internet of things (IoT) security
                                </h3>
                                <p>
                                    Refers to an array of critical and non-critical cyber-physical systems, including
                                    printers and security cameras. These devices frequently offer limited security
                                    patching, which renders users and other internet users vulnerable to threats. IoT
                                    security creates a unique challenge for both the user and the enterprise.
                                </p>
                            </div>
                            <div class="core-areas__item">
                                <h3 class="core-areas__title">
                                    Cybersecurity policy
                                </h3>
                                <p>
                                    Businesses need to develop a strong set of security policies and practices that are
                                    practiced at the top-level of management, and all the way down. These policies are
                                    critical to maintaining a well-rounded, proactive security strategy.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



        </main>
        @@include("../blocks/modules/footer/footer.html")



   </div>
<script src="js/main.js?ver=1"></script>
    <script src="js/vendor.js"></script>

</body>

</html>


