<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
    
    

    <link rel="stylesheet" href="styles/main.css?ver=1">

    

</head>

<body>

    <div class="overflow-hidden">

       @@include("../blocks/modules/header/header.html")


        <main class="main">

            <section class="section-page1">

                <div class="container">
                    <div class="page1 page1_data">
                        <div class="page1__row">
                            <div
                                class="page1__item page1__item_text wow animate__animated animate__fadeIn animate__delay-2s">
                                <h1 class="page1__title">
                                    Data
                                </h1>
                                <div class="page1__btn">
                                    <a class="btn btn_main btn_1" href="/page-intelligence.html">
                                        Business Intelligence
                                    </a>
                                </div>
                                <div class="page1__btn">
                                    <a class="btn btn_main btn_2" href="/page-big-data.html">
                                        Big Data Division 
                                    </a>
                                </div>
                                <div class="page1__btn">
                                    <a class="btn btn_main btn_3" href="/page-engineering.html">
                                        Data Engineering 
                                    </a>
                                </div>
                            </div>
                            <div class="page1__item   wow animate__animated animate__backInLeft animate__slow">

                                <img class="page1__img" src="img/svg/page-data.svg" alt="">

                            </div>
                        </div>
                    </div>
                </div>

            </section>



            <div class="container" style="padding: 20px 0 90px;">
                <img class="blockchain__img" src="img/svg/flagmanSolutions/5.svg" alt="">
            </div>





            <div class="container">
                <div class="btn-back-container">
                    <a class="btn btn_main btn_2" href="/page-expertise.html">
                        Return Expertise
                    </a>
                </div>
            </div>
        </main>
        @@include("../blocks/modules/footer/footer.html")



   </div>
<script src="js/main.js?ver=1"></script>
    <script src="js/vendor.js"></script>

</body>

</html>


