<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link
      rel="shortcut icon"
      href="img/favicons/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="icon"
      sizes="16x16"
      href="img/favicons/favicon-16x16.png"
      type="image/png"
    />
    <link
      rel="icon"
      sizes="32x32"
      href="img/favicons/favicon-32x32.png"
      type="image/png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="img/favicons/apple-touch-icon-precomposed.png"
    />
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="img/favicons/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="img/favicons/apple-touch-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="img/favicons/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="img/favicons/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="img/favicons/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="img/favicons/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="img/favicons/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="img/favicons/apple-touch-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="167x167"
      href="img/favicons/apple-touch-icon-167x167.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/favicons/apple-touch-icon-180x180.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="1024x1024"
      href="img/favicons/apple-touch-icon-1024x1024.png"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="styles/main.css?ver=1" />
  </head>

  <body>
    <div class="overflow-hidden">
      @@include("../blocks/modules/header/header.html")

      <main class="main">
        <section class="section-page1">
          <div class="container">
            <div class="page1-intel">
              <div class="page1-intel__body">
                <div class="page1-intel__item">
                  <h1 class="page1__title">INFORMATION DE CONTACT</h1>
                  <p>Highfi - 13 Boulevard des Capucines - 75002 Paris</p>

                  <p>Stations : Auber, Opéra, Madeleine</p>
                  <p class="page-contacts-phones">
                    <a href="tel:+33142650720" style="color:#fff; display: block; text-decoration: none;">Tél : +33 1 42 65 07 20</a>

                    <span>Fax : +33 1 42 65 07 77</span>
                  </p>
                </div>
                <div class="page1-intel__item">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d2624.412815771847!2d2.324086815903247!3d48.86940640788464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e2!4m5!1s0x47e66e33aed44a45%3A0x975959e09962a281!2s13%20Bd%20de%20la%20Madeleine%2C%2075001%20Paris%2C%20France!3m2!1d48.8694029!2d2.3262755!4m3!3m2!1d48.8698616!2d2.3235932999999998!5e0!3m2!1sen!2sru!4v1637503601070!5m2!1sen!2sru"
                    width="100%"
                    height="450"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      @@include("../blocks/modules/footer/footer.html")
    </div>
    <script src="js/main.js?ver=1"></script>
    <script src="js/vendor.js"></script>
  </body>
</html>
