<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
    
    

    <link rel="stylesheet" href="styles/main.css?ver=1">

    

</head>

<body>

    <div class="overflow-hidden">

       @@include("../blocks/modules/header/header.html")


        <main class="main">

            <section class="section-page1">

                <div class="container">
                    <h1 class="page1__title page1__title_software">
                        Software development
                    </h1>

                    <div class="page-software-table">
                        <img src="img/svg/page-software.svg" alt="">
                    </div>
                </div>

            </section>



            <section class="section-frontend">
                <div class="container">
                    <div class="frontend">
                        <h2 class="frontend__title">
                            Front end
                        </h2>
                        <ul class="frontend__list">
                            <li>
                                <h3 class="frontend__h3">
                                    <span class="list-big-dot">

                                    </span>
                                    <span>
                                        Web / mobile prototypes
                                    </span>
                                </h3>
                                <p>
                                    Prototyping allows ideas to materialize. The design of the screen architecture and
                                    the interaction elements lead to a realistic prototype, optimized for mobile and
                                    responsive interaction
                                </p>
                            </li>

                            <li>
                                <h3 class="frontend__h3">
                                    <span class="list-big-dot">

                                    </span>
                                    <span>
                                        UI interface and model
                                    </span>
                                </h3>
                                <p>
                                    Prototyping allows ideas to materialize. The design of the screen architecture and
                                    the interaction elements lead to a realistic prototype, optimized for mobile and
                                    responsive interaction
                                </p>
                            </li>

                            <li>
                                <h3 class="frontend__h3">
                                    <span class="list-big-dot">

                                    </span>
                                    <span>
                                        User tests
                                    </span>
                                </h3>
                                <p>
                                    Collect and analyze user impressions face-to-face or remotely. The tests can take
                                    different forms: use cases on scenarios, A / B testing, Guerilla testing
                                </p>
                            </li>

                            <li>
                                <h3 class="frontend__h3">
                                    <span class="list-big-dot">

                                    </span>
                                    <span>
                                        Large system technologies (mainframe)
                                    </span>
                                </h3>
                                <p>
                                    Cobol Zos MVS Pacbase DB2 JCL
                                </p>
                            </li>

                            <li>
                                <h3 class="frontend__h3">
                                    <span class="list-big-dot">

                                    </span>
                                    <span>
                                        Ms .Net platform
                                    </span>
                                </h3>
                                <p>
                                    C#, Core, ASP.NET, Winform/ Webform, WCF/ WPF, Web Services, Architectures SOA,
                                    Entity Framework, SharePoint
                                </p>
                            </li>

                            <li>
                                <h3 class="frontend__h3">
                                    <span class="list-big-dot">

                                    </span>
                                    <span>
                                        Java
                                    </span>
                                </h3>
                                <p>
                                    Core / spring
                                    J2EE (EJB, JMS, webservices ...) , Application servers: weblogic, websphere, Jboss,
                                    Tomcat
                                </p>
                            </li>

                            <li class="frontend__li-with-list">
                                <h3 class="frontend__h3">
                                    <span class="list-big-dot">

                                    </span>
                                    <span>
                                        Innovative community
                                    </span>
                                </h3>
                                <h4 class="frontend__h4">
                                    Front-end Web:
                                </h4>
                                <p class="frontend__li">
                                    <span class="little-dot">
                                    </span>
                                    <span>
                                        Angular / Node JS / React / Vue
                                    </span>

                                </p>

                                <h4 class="frontend__h4">
                                    Python:
                                </h4>
                                <p class="frontend__li">
                                    <span class="little-dot">
                                    </span>
                                    <span>
                                        Django
                                    </span>

                                </p>
                                <p class="frontend__li">
                                    <span class="little-dot">
                                    </span>
                                    <span>
                                        Flask
                                    </span>

                                </p>
                                <p class="frontend__li">
                                    <span class="little-dot">
                                    </span>
                                    <span>
                                        Celery, request, oauth, pytest, xlwings
                                    </span>

                                </p>
                            </li>


                            <li class="frontend__li-with-list">
                                <h3 class="frontend__h3">
                                    <span class="list-big-dot">

                                    </span>
                                    <span>
                                        Classic community
                                    </span>
                                </h3>
                                <h4 class="frontend__h4">
                                    C++ language:
                                </h4>
                                <p class="frontend__li">
                                    <span class="little-dot">
                                    </span>
                                    <span>
                                        Objets & architectures distributes C++ (Visual, Unix)
                                    </span>

                                </p>
                                <p class="frontend__li">
                                    <span class="little-dot">
                                    </span>
                                    <span>
                                        Multithreading
                                    </span>

                                </p>
                                <p class="frontend__li">
                                    <span class="little-dot">
                                    </span>
                                    <span>
                                        Cobra
                                    </span>

                                </p>
                                <p class="frontend__li">
                                    <span class="little-dot">
                                    </span>
                                    <span>
                                        Interfaces MFC
                                    </span>

                                </p>
                                <p class="frontend__li">
                                    <span class="little-dot">
                                    </span>
                                    <span>
                                        Design Patterns (MVC, Observer, Visitors, composite, etc ...)
                                    </span>

                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>



            <section class="section-backend">
                <div class="container">
                    <div class="backend">
                        <h2 class="frontend__title">
                            Back end
                        </h2>

                        <div class="backend__body">
                            <div class="backend__item">
                                <p>
                                    Software development as an engineering discipline is an integral part (area) of
                                    software
                                    engineering, along with the disciplines responsible for the operation and
                                    maintenance of
                                    software products.
                                </p>
                                <p>
                                    Software development process is the process of dividing software development work
                                    into
                                    distinct phases to improve design, product management, and project management.
                                </p>
                            </div>
                            <div class="backend__item">
                                <p>
                                    Most modern development processes can be vaguely described as agile. Other
                                    methodologies
                                    include waterfall, prototyping, iterative and incremental development, spiral
                                    development, rapid application
                                    development, and extreme programming.

                                </p>
                                <p>
                                    It is the process of creating a computer program or a set of programs to perform the
                                    different tasks that a business requires. From calculating monthly expenses to
                                    scheduling sales reports, applications
                                    help businesses automate processes and increase efficiency
                                </p>
                            </div>
                        </div>
                    </div>
            </section>


            <section class="section-backend-descr">
                <div class="container">
                    <div class="backend-descr">

                        <div class="backend-descr__body">
                            <div class="backend-descr__item">
                                <p class="backend-descr__p">
                                    It may include the predefinition of specific deliverables and artifacts that are
                                    created and completed by a project team to develop or maintain an application.

                                </p>
                            </div>
                            <div class="backend-descr__item">
                                <ul class="list-with-sublist">
                                    <li>
                                        <h4 class="list-with-sublist__h4">
                                            <span class="big-dot"></span>
                                            <span>
                                                This process consists of
                                            </span>
                                        </h4>
                                        <ul class="list-with-sublist__sublist">
                                            <li>
                                                <span class="little-dot"></span>
                                                <span>
                                                    conceiving
                                                </span>
                                            </li>
                                            <li>
                                                <span class="little-dot"></span>
                                                <span>
                                                    specifying
                                                </span>
                                            </li>
                                            <li>
                                                <span class="little-dot"></span>
                                                <span>
                                                    designing
                                                </span>
                                            </li>
                                            <li>
                                                <span class="little-dot"></span>
                                                <span>
                                                    programming
                                                </span>
                                            </li>

                                        </ul>
                                    </li>
                                </ul>



                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="section-title-and-lists">
                <div class="container">
                    <div class="title-and-lists title-and-lists_3-items">
                        <div class="title-and-lists__item">
                            <h3 class="title-and-lists__title">
                                New uses and services are developing primarily around the web and mobile solutions. Two
                                typical uses emerge:
                            </h3>
                        </div>
                        <div class="title-and-lists__item">
                            <ul class="list-with-sublist">
                                <li>
                                    <h4 class="list-with-sublist__h4">
                                        <span class="big-dot"></span>
                                        <span>
                                            Web solutions accessible from a browser:
                                        </span>
                                    </h4>
                                    <ul class="list-with-sublist__sublist">
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                Mobile websites developed for mobile or tablets
                                            </span>
                                        </li>
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                Responsive sites that adapt to different media
                                            </span>
                                        </li>
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                Web applications developed for the mobile but with specific
                                                functionalities
                                            </span>
                                        </li>


                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="title-and-lists__item">
                            <ul class="list-with-sublist">
                                <li>
                                    <h4 class="list-with-sublist__h4">
                                        <span class="big-dot"></span>
                                        <span>
                                            Mobile applications downloaded via a store:
                                        </span>
                                    </h4>
                                    <ul class="list-with-sublist__sublist">
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                Applications developed natively pn
                                            </span>
                                        </li>
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                The natives developed from a "cross-platform" solution
                                            </span>
                                        </li>
                                        <li>
                                            <span class="little-dot"></span>
                                            <span>
                                                Hybrids that encapsulate web content
                                            </span>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>


            <div class="container">
                <div class="btn-back-container">
                    <a class="btn btn_main btn_2" href="/page-expertise.html">
                        Return Expertise
                    </a>
                </div>
            </div>


        </main>
        @@include("../blocks/modules/footer/footer.html")



   </div>
<script src="js/main.js?ver=1"></script>
    <script src="js/vendor.js"></script>

</body>

</html>


