<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
    
    

    <link rel="stylesheet" href="styles/main.css?ver=1">

    

</head>

<body>

    <div class="overflow-hidden">

       @@include("../blocks/modules/header/header.html")


        <main class="main">

            <section class="section-page1">

                <div class="container">

                    <div class="page1-group">



                        <div class="page1-group__body">
                            <div class="page1-group__item">
                                <h1 class="page1__title">
                                    HighFI
                                </h1>

                                <h3 class="main-h3">
                                    For nearly 20 years
                                </h3>
                                <p class="main-p">
                                    the HIGHFI group has supported its clients in meeting their technological
                                    challenges, strategic and methodological businesses. Day after day, we encourage
                                    innovation, the fruit of the expertise of its employees and of an agile and
                                    forward-looking managerial organization.

                                </p>
                            </div>
                            <div class="page1-group__item">
                                <img class="wow animate__animated animate__backInRight animate__slow"
                                    src="img/svg/page-highfi/hf-logo.svg" alt="">
                            </div>
                        </div>

                    </div>

                </div>

            </section>





            <section class="section-icons-text">
                <div class="container">
                    <div class="icons-text3 icons-text3_2 icons-text3_1120 icons-text3_icnos-left">
                        <div class="icons-text3__item">
                            <div>
                                <img src="img/svg/aboutUs/3.svg" alt="">
                            </div>
                            <p>
                                Day after day, we encourage innovation, the fruit of the expertise of its employees and
                                of an agile and forward-looking managerial organization.
                                We promote innovation day after day, the fruit of the expertise of its employees and an
                                agile and forward-looking managerial organization.
                            </p>
                        </div>
                        <div class="icons-text3__item">
                            <div>
                                <img src="img/svg/sectors/1.svg" alt="">
                            </div>
                            <p>
                                Our banking consulting teams are there to help companies in their digital future by
                                redesigning their critical applications, redefining their information systems and
                                improving
                                operational efficiency.
                            </p>
                        </div>
                    </div>
                </div>
            </section>







            <section class="section-group-advantages">
                <div class="container">
                    <div class="group-advantages">

                        <div class="group-advantages__body">
                            <div class="group-advantages__item">
                                <div class="group-advantages__header">
                                    <h3 class="main-h3">
                                        Since 2018
                                    </h3>
                                    <p class="main-p">
                                        we have been supporting French insurers and mutual groups through the Insurance
                                        consulting team. Their mission is to help insurance professionals improve their
                                        strategic transformations, the implementation of FO / BO vendor solutions and
                                        support on
                                        more agile methods.
                                    </p>
                                    <p class="main-p">
                                        Public services are also changing, we are supporting clients such as Banque de
                                        France,
                                        BPI and the administrations to concretize their ideas for more innovative
                                        information
                                        systems, more efficient in data processing, more secure.
                                    </p>
                                </div>


                                <div class="group-advantages__img-mob-wrap">
                                    
                                </div>


                                <div class="group-table">
                                    <div class="group-table__body">
                                        <p class="main-p">
                                            Core business of the HIGHFI group since its creation
                                        </p>

                                        <div class="group-table__big-text">
                                            <span>
                                                <span class="color-blue">support</span> our <br> clients CIOs in the
                                                architecture
                                            </span>

                                            <span>
                                                <span class="color-blue">design and <br> multi-technological</span>
                                                development
                                                of their global projects
                                            </span>
                                        </div>


                                        <p class="main-p">
                                            Our
                                            consultants with hybrid profiles, both technical experts and mastering the
                                            business domain provide the added value necessary for the success of
                                            large-scale
                                            IT projects.
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="group-advantages__item">
                                <img class="group-advantages__img" src="img/svg/page-highfi/1.svg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </main>


        @@include("../blocks/modules/footer/footer.html")



   </div>
<script src="js/main.js?ver=1"></script>
    <script src="js/vendor.js"></script>

</body>

</html>


