<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
    
    

    <link rel="stylesheet" href="styles/main.css?ver=1">

    

</head>

<body>

    <div class="overflow-hidden">

       @@include("../blocks/modules/header/header.html")


        <main class="main">

            <section class="section-page1">

                <div class="container">
                    <div class="big-data">
                        <div class="big-data__row">
                            <div
                                class="big-data__item page1__item_text wow animate__animated animate__fadeIn animate__delay-2s">
                                <h1 class="page1__title">
                                    Big data
                                </h1>
                                <p class="big-data__p">
                                    Big data treats the ways to analyze, extract and deal with data sets that are too
                                    large or complex to be dealt with by traditional data-processing application
                                    software.
                                </p>


                                <div class="big-data__mob-img">

                                </div>

                                <div class="take-care-data">
                                    <h2 class="take-care-data__title">
                                        We take care about such Big data challenges as:
                                    </h2>
                                    <p class="big-data__p">
                                        Big data treats the ways to analyze, extract and deal with data sets that are
                                        too large or complex to be dealt with by traditional data-processing application
                                        software.
                                    </p>
                                </div>
                            </div>
                            <div class="big-data__item   wow animate__animated animate__fadeInRight animate__slow">

                                <img class="big-data__img" src="img/svg/page-big-data/page-big-data.svg" alt="">

                            </div>
                        </div>
                    </div>
                </div>

            </section>




            <section class="section-park-3-persons">
                <div class="container">
                    <div class="park-3-persons">
                        <div class="park-3-persons__body">
                            <div class="park-3-persons__item">
                                <img src="img/svg/page-big-data/3persons.svg" alt="">
                            </div>
                            <div class="park-3-persons__item">
                                <ul class="park-3-persons__list list-dots">
                                    <li>
                                        <span class="list-dots__dot">

                                        </span>
                                        <span>
                                            capturing data
                                        </span>
                                    </li>
                                    <li>
                                        <span class="list-dots__dot">

                                        </span>
                                        <span>
                                            data storage
                                        </span>
                                    </li>
                                    <li>
                                        <span class="list-dots__dot">

                                        </span>
                                        <span>
                                            data analysis
                                        </span>
                                    </li>
                                    <li>
                                        <span class="list-dots__dot">

                                        </span>
                                        <span>
                                            search
                                        </span>
                                    </li>

                                </ul>

                                <ul class="park-3-persons__list list-dots">
                                    <li>
                                        <span class="list-dots__dot">

                                        </span>
                                        <span>
                                            sharing
                                        </span>
                                    </li>
                                    <li>
                                        <span class="list-dots__dot">

                                        </span>
                                        <span>
                                            transfer
                                        </span>
                                    </li>
                                    <li>
                                        <span class="list-dots__dot">

                                        </span>
                                        <span>
                                            visualization
                                        </span>
                                    </li>
                                    <li>
                                        <span class="list-dots__dot">

                                        </span>
                                        <span>
                                            querying
                                        </span>
                                    </li>

                                </ul>

                                <ul class="park-3-persons__list list-dots">
                                    <li>
                                        <span class="list-dots__dot">

                                        </span>
                                        <span>
                                            updating
                                        </span>
                                    </li>
                                    <li>
                                        <span class="list-dots__dot">

                                        </span>
                                        <span>
                                            information privacy

                                        </span>
                                    </li>
                                    <li>
                                        <span class="list-dots__dot">

                                        </span>
                                        <span>
                                            data source
                                        </span>
                                    </li>

                                </ul>


                            </div>
                        </div>
                    </div>
                </div>
            </section>




            <section class="section-tech-descr">
                <div class="container">
                    <div class="bd-tech-descr">
                        <h3 class="bd-tech-descr__title">
                            Technical description:
                        </h3>

                        <ul class="bd-tech-descr__list">
                            <li>
                                <span></span>
                                <p>
                                    Implementation of romscratch of datalake using Hadoop and Hortonworks solutions
                                </p>
                            </li>
                            <li>
                                <span></span>
                                <p>
                                    Definition of distributed architectures: Microservices, Lambda / Kappa architecture,
                                    Services, Discovery Consul / Zookeeper, YARN resource manager
                                </p>
                            </li>
                            <li>
                                <span></span>
                                <p>
                                    Application development (spark / scala) for real-time data ingestion and mapping and
                                    parallel / distributed data processing: SPARK engine and its APIs </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>



            <div class="container">
                <div class="btn-back-container">
                    <a class="btn btn_main btn_2" href="/page-expertise.html">
                        Return Expertise
                    </a>
                </div>
            </div>

            

        </main>



        @@include("../blocks/modules/footer/footer.html")



   </div>
<script src="js/main.js?ver=1"></script>
    <script src="js/vendor.js"></script>

</body>

</html>


