.section-approach {
    margin-top: 120px;
}

.approach__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    margin-left: auto;
}

.approach__item:first-child {
    max-width: 490px;
}

.approach__p {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 147%;
}

@media(max-width:768px) {
    .section-approach {
        margin-top: 80px;
    }
    .approach__row {
        flex-direction: column;
    }
    .approach__p {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .approach__item:last-child {
        margin-top: 20px;
    }
}