.advantages-section {
    padding-top: 25px;
}

.advantages-section__descr {
    max-width: 620px;
    margin-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 147%;
    color: #FFFFFF;

}



.advantages__row {
    display: flex;
    justify-content: space-between;

    background: linear-gradient(269.09deg, rgba(42, 54, 92, 0.7) 15.01%, rgba(54, 67, 108, 0.7) 99.35%);
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.advantages__item {
    display: flex;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    white-space: nowrap;
    transition: all .3s;
}

.advantages-item__icon {
    width: 100%;
}

.advantages-item__icon-div {
    flex-shrink: 0;
}

.advantages-item__text {
    margin-left: 16px;
    font-size: 20px;
    color: #fff;
}


@media(max-width:1440px) {
    .advantages-item__text {
        font-size: 16px;
    }
}



@media(max-width:1240px) {
    .advantages__row {
        align-items: stretch;
        background: none;
        width: 100%;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
    }


    .advantages__item {
        height: 100%;
        height: 180px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: column;
        background: rgba(42, 54, 92, 0.7);
    }



    .advantages-item__text {
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
    }
}


@media(max-width:550px) {
    .advantages-section {
        padding-top: 20px;
    }

    .advantages-section__descr {
        margin-bottom: 40px;
        font-size: 16px;
    }
}