.section-aboutUs {
    position: relative;
    z-index: 5;
    padding-top: 160px;


}

.aboutUs__bg1 {
    position: absolute;
    z-index: 0;
    top: -265px;
    width: 100%;
    height: 1000px;
    left: 0;
    right: 0;
    opacity: .7;
}


.aboutUs__bg2 {

    position: absolute;
    z-index: 0;
    top: 670px;
    width: 100%;
    height: 1506px;
    left: 0;
    right: 0;


    svg {
        position: relative;
        z-index: 0;
    }


}


@media(max-width:650px) {

    .aboutUs__bg1,
    .aboutUs__bg2 {
        display: none;
    }
}


.aboutUs__content {
    position: relative;
    z-index: 2;

}

.aboutUs__row {
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.aboutUs__col_replaceIn {
    margin-left: -140px;
}

.aboutUs__item:nth-child(2) {
    flex-grow: 1;
    text-align: center;
    margin-right: -150px;
}



.aboutUs__item:last-child {
    max-width: 360px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 147%;

    color: #FFFFFF;
}

.aboutUs-col__video {
    position: relative;
    z-index: 5;
}


.bigNumCollor {
    display: inline-flex;
    flex-direction: column;

    span:first-child {
        -webkit-text-stroke: 1px #fff;
        -webkit-text-fill-color: #1B2546;
        text-shadow: 0px 0px 7px #26E1CB, 0px 4px 10px rgba(0, 0, 0, 0.25);
        font-weight: 900;
        font-size: 120px;
        line-height: 1;
    }

    span:last-child {
        align-self: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 45px;
        line-height: 123.5%;
        margin-top: 15px;


        color: #FFFFFF;
    }
}



@media(max-width:1530px) {
    .aboutUs__col:last-child {
        width: auto;
    }

    .aboutUs__col_replaceIn {
        margin-left: 15px;
    }

    .aboutUs-col_2 {
        margin-left: 0;
    }
}


@media(max-width:1340px) {



    .aboutUs__row {
        justify-content: space-between;
    }

    .aboutUs__item:nth-child(2) {
        margin-right: 15px;
        margin-left: 15px;
    }

    .aboutUs__item:last-child {
        max-width: 240px;
    }



    .bigNumCollor {


        span:first-child {
            font-size: 100px;
        }

        span:last-child {
            font-size: 22.5px;

        }
    }
}

@media(max-width:880px) {

    .bigNumCollor {


        span:first-child {
            font-size: 80px;
        }

        span:last-child {
            font-size: 22.5px;

        }
    }
}


@media(max-width:768px) {

    .section-aboutUs {
        padding-top: 80px;

        &::after {
            display: none;
        }

        &::before {
            display: none;
        }
    }

    .aboutUs__row {
        flex-direction: column;
    }



    .aboutUs__item:nth-child(2) {
        margin-top: 60px;
        margin-left: 0;
        margin-right: 0;
    }

    .aboutUs__item:last-child {
        max-width: 100%;
        margin-top: 50px;

    }

    .aboutUs__title {
        text-align: center;
    }

    .aboutUs__item:nth-child(2) {
        margin-top: 40px;
    }

    .aboutUs__row {
        margin-top: 40px;
    }
}


.sota1 {
    animation: sota 3s infinite ease;
}

.sota2 {
    animation: sota 6s infinite ease;
}

.sota3 {
    animation: sota 5s infinite ease;
}

.sota4 {
    animation: sota 6s infinite ease;
}

.sota5 {
    animation: sota 7s infinite ease;
}

.sota6 {
    animation: sota 4s infinite ease;
}

.sota7 {
    animation: sota 6s infinite ease;
}

.sota8 {
    animation: sota 8s infinite ease;
}

.sota9 {
    animation: sota 3s infinite ease;
}

.sota10 {
    animation: sota 5s infinite ease;
}

.sota11 {
    animation: sota 7s infinite ease;
}

.sota12 {
    animation: sota 8s infinite ease;
}

.sota13 {
    animation: sota 10s infinite ease;
}

.sota14 {
    animation: sota 6s infinite ease;
}

.sota15 {
    animation: sota 2s infinite ease;
}

.sota16 {
    animation: sota 3s infinite ease;
}

.sota17 {
    animation: sota 3s infinite ease;
}

.sota18 {
    animation: sota 2s infinite ease;
}

.sota19 {
    animation: sota 4s infinite ease;
}

.sota20 {
    animation: sota 5s infinite ease;
}


.page1-svg-circle {
    animation: svg1 5s infinite ease;
}

@keyframes svg1 {

    0% {
        opacity: 1;
    }

    50% {
        opacity: .9;
    }

    100% {
        opacity: 1;
    }
}



@keyframes sota {

    0% {
        opacity: 0.05;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.05;
    }
}



@import "aboutUs2"